* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(10, 200, 50);
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-title {
  margin: 29px;
}

#title {
  font-size: 40px;
  text-align: center;
}

.carta {
  position: relative;
  left: 100px;
  margin-left: -75px;
  width: 150px;
}